.popup__close {
    width: 32px;
    height: 32px;
    position: absolute;
    top: -40px;
    right: -40px;
    cursor: pointer;
}

.popup__close:hover {
    opacity: 0.6;
    transition: opacity 0.1s ease-in-out;
}

@media screen and (max-width: 659px) {
    .popup__close {
        width: 20px;
        height: 20px;
        right: 0;
    }
}